.header {
  width: 90vw;
  height: auto;
  margin: auto;
  border-radius: 0 0 20px 20px;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 0 10px blue;
}
.header h1 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  text-shadow: 0 0 10px blue, 0 0 10px blue, 0 0 10px blue;
  border-radius: 0 0 20px 20px;
}
